<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="container">
<h1>Login</h1>
<% if (message) { %>
<div class="message"><%= message %></div>
<% } %>
<form method="post" action="/login">
<div>
<label for="username">Username</label>
<input type="text" name="username" id="username" required>
</div>
<div>
<label for="password">Password</label>
<input type="password" name="password" id="password" required>
</div>
<button type="submit">Login</button>
</form>
</div>
</body>
</html>